* {
    margin: 0;
    padding: 0;
}



a {
    text-decoration: none;
}


ul {
    list-style: none;
}

li {
    list-style: none;
}

h1 {
    padding: 10px;
    text-align: left;
    font-size: 3rem;

}

h5 {
    color: #049DAB;
    text-align: center;
    transition: all 0.3s linear;
    font-size: 3rem;
    font-weight: bold;
}


/*------/ Button /------*/



/*--------------------------------------------------------------
  # Sub header 
  --------------------------------------------------------------*/

.sub-header {
    background-color: #282f2a;
    height: 46px;
    padding: 10px;
    line-height: 65px;
}

.sub-header ul li {
    display: inline-block;
    color: #fff;
}

.sub-header ul li {
    display: inline-block;
    color: #fff;

}



.sub-header ul.right-icons {
    float: right;
}

.sub-header ul.right-icon li {
    display: inline-block;

    margin-right: 10px;
    width: 20px;
    display: inline-block;
    text-align: center;
    /* display: inline-block; */

    border-right: 1px solid rgba(255, 255, 255, 0.3);
}

.sub-header ul.right-icons li:first-child {
    border-left: 1px solid rgba(255, 255, 255, 0.3);
}

.brand-logo {
    font-size: 42px;
    color: black;
    font-weight: 500;
}

.iconsbox {
    margin-right: -350px;
    margin-left: 30px;
    display: flex;
}

.iconsbox-button button {

    background: #262927;
    color: #049DAB;
    border: 1px solid #fff;
    padding: 10px 18px;

    margin-left: 18px;
}

.social-icon {
    display: inline-block;
    margin-left: 24px;
}

.social-icon a {
    width: 42px;
    height: 42px;
    background: rgba(217, 217, 217, 0.1);
    display: inline-flex;
    border-radius: 50%;
    cursor: pointer;
    margin-right: 26px;
    align-items: center;
    justify-content: center;
    line-height: 1;
    border: 1px solid rgba(255, 255, 255, 0.5);
}

.social-icon a::before {
    content: "";
    width: 42px;
    height: 42px;
    position: absolute;
    background-color: #ffffff;
    border-radius: 50%;
    transform: scale(0);
    transition: 0.3s ease-in-out;
}

.social-icon a img {
    width: 40%;
    margin-right: 5px;
    z-index: 1;
    transition: 0.3s ease-in-out;
}


.container2 {
    width: 60%;
    z-index: 10;
}

.top-brand {
    width: 100%;
    padding: 0.7rem 0;
    top: 0;
    z-index: 10;
}

.top-brand .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.top-brand .img-fluid {
    height: 6rem;
    width: 6rem;
}

/* .form-control {
    background: hsl(252, 30%, 95%);
    border-radius: 2rem;
    padding: 0.6rem 1rem;
}

.form-control input[type="search"] {
    background: transparent;
    width: 20vw;
    margin-left: 1rem;
    font-size: 0.9rem;
    color: hsl(252, 30%, 17%);
} */

.login-button {
    display: flex;
    gap: 1rem;
    text-align: center;
    padding-top: 5px;
}

.navbar {
    background: none;
    display: flex;
    padding: 0 70px;
    
    border-bottom: 1px solid #707070;
}

.nav-content {
    text-align: center;
    justify-content: space-between;
}


nav ul li {
    padding: 30px;
    display: inline-flex;
}


nav ul li a:hover {
    transform: scale(1.1);
}

nav ul li ul {
    margin-top: 30px;
    text-align: center;
    position: absolute;
    visibility: visible;
    transform: scaleY(0);
    transform-origin: 0 0 0;
    transition: all 0.5s ease 0s;
    width: 100px;
    z-index: 99999;
    padding: 0;
}

nav ul li ul>li {
    padding: 0;
    display: block;
    border-bottom: 1px solid #4a444a;
}

nav ul li ul>li>a {
    padding: 10px 10px 10px 15px;
    display: block;
    color: #39373f !important;
}

nav ul li ul>li:last-child {
    border-bottom: none;
}

nav ul li ul>li:hover {
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -ms-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
}

nav ul li ul>li:hover a {
    color: #736e81 !important;
}

nav ul li ul>li:hover a:before {
    opacity: 0;
}

nav ul li:hover ul {
    opacity: 1;
    transform: scaleY(1);
    visibility: visible;
}

nav ul li .mega-menu-area {
    padding: 18px 35px;
    width: 688px;
    ;
}

@media (min-width: 768px) and (max-width: 991px) {
    nav ul li .mega-menu-area {
        left: -324px;
    }
}

nav ul li .mega-menu-area>li {
    width: 141px;
    border-bottom: none;
    display: inline-block;
    margin-right: 14px;
}

nav ul li .mega-menu-area>li:hover {
    background: transparent !important;
}

nav ul li .mega-menu-area>li:hover>a {
    color: #ffffff;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -ms-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
}

nav ul li .mega-menu-area>li:hover>a:hover {
    color: #ffffff;
    background: #d32f2f;
    padding-left: 10px;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -ms-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
}

nav ul li .mega-menu-area>li a {
    padding: 8px 0;
    display: block;
    border-bottom: 1px solid #433d3d;
}

nav ul li .mega-menu-area>li a:last-child {
    border-bottom: none;
}

nav ul li .mega-menu-area>li:last-child {
    margin-right: 0;
}

nav ul li:hover>a,
nav ul .active>a {
    position: relative;
}

nav ul li:hover>a:before,
nav ul .active>a:before {
    opacity: 1;
    width: 57%;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -ms-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
}
/* Banner */

.banner {
    padding-top: 100px;

}

.ban-details {
    padding: 7%;

}

.det1 {
    color: #FD511A;
    font-size: 15px;
    font-weight: 400;
}

.det2 {
    font-size: 15px;
    font-weight: 400;
    color: rgb(66, 65, 65);
}

.det {
    font-weight: 500;
    font-size: 50px;
}

.any {
    color: #229663;
}

.row span {
    display: flex;
}

.get {
    display: inline-flex;
    background-color: #229663;
    color: white;
    padding: 12px 28px;
    border-radius: 25px;
    border: none;
    margin-top: 5px;
}

.ill {
    height: 80%;
    width: 80%;
    /* padding: 7%; */
}


.point {
    width: 30px;
    height: 40px;
}
